@model Product
@{
    ViewData["Title"] = "Edytuj produkt";
}
<h1>Edytuj produkt</h1>
<form asp-action="EditProduct" method="post">
    <div class="row m-2">
        <input type="hidden" asp-for="Id">
        <label asp-for="Name" class="col-3"></label>
        <input type="text" asp-for="Name" class="col-6">
        <span asp-validation-for="Name" class="col-3 text-danger"></span>
    </div>
      <div class="row m-2">
        <label asp-for="Description" class="col-3"></label>
        <input type="text" asp-for="Description" class="col-6">
        <span asp-validation-for="Description" class="col-3 text-danger"></span>
    </div>
      <div class="row m-2">
        <label asp-for="Price" class="col-3"></label>
        <input type="number" asp-for="Price" class="col-6" step="0.01">
        <span asp-validation-for="Price" class="col-3 text-danger"></span>
    </div>
      <div class="row m-2">
        <label asp-for="GenreId" class="col-3"></label>
        <select asp-for="GenreId" class="col-6">
            @foreach(var genre in ViewBag.Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <div class="row m-2">
        <input type="submit" value="Zapisz zmiany" class="col-6 offset-3 btn btn-primary">
    </div>

</form>
