@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista produktów</h1>
<a asp-action="AddProduct" class="btn btn-primary p-2">Dodaj produkt</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Opis</th>
            <th> ---- </th>
        </tr>
    </thead>
    <tbody>
        @{int lp=0;}
        @foreach(var product in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
