@page
@model cw6.Pages.AddMovieModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie filmów</title>
</head>
<body>
    <h1>Dodaj nowy film</h1>
</body>
</html>
