@page
@model cw6.Pages.GamesModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gry</title>
</head>
<body>
    <h1>Lista gier</h1>
</body>
</html>
