.info{
    color: #f44336;
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    border: 1px solid #f44336;
    border-radius: 5px;
    padding: 0.5em;
   
}