@model List<mvc_ef.Models.Game>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lista gier</h1>
    <table class="table table-striped">
        <tr>
            <th>Tytuł</th>
            <th>Rodzaj</th>
            <th>Cena</th>
            <th>Data wydania</th>
        </tr>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReDate</td>
            </tr>
        }
    </table>
</div>
