<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Wycieczki</h1>
    </header>
    <main>
        <div id="left"></div>
        <div id="mid">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In inventore suscipit qui nihil earum ut non, enim eveniet architecto obcaecati nemo vero placeat natus magni, aspernatur dolorum iusto nobis soluta?
        </div>
        <div id="right"></div>
    </main>

    <footer>
        <p>Wszelkie prawa zastrzeżone</p>
    </footer>
</body>

</html>