@page
@model cw5.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Strona Razor Page - Index</h1>
    <div>
        Dzisiaj mamy: @DateTime.Now.ToLongDateString()
    </div>
    <ul>
        @foreach (var item in Model.Persons)
        {
            <li>@item.FirstName @item.LastName</li>
        }
    </ul>
    <div id="root"></div>
    <script src="~/index.js" defer></script>
</body>
</html>
