<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/styl4.css" rel="stylesheet">
    <title>Restauracja Wszystkie Smaki</title>
</head>
<body>
    <header id="baner">
        <h1>Witamy w restauracji „Wszystkie Smaki”</h1>
    </header>
    <main>
        <section id="gorny">
            <section class="lewy">
                <img src="~/menu.jpg" alt="Nasze danie">
            </section>
            <section class="prawy">
                <h4>U nas dobrze zjesz</h4>
                <ol>
                    <li>Obiady od 40 zł</li>
                    <li>Przekąski od 10 zł</li>
                    <li>Kolacje od 20 zł</li>
                </ol>
            </section>
        </section>
        <section id="dolny">
            <h2>Zarezerwuj stolik on-line</h2>
            <form action=""></form>
        </section>
    </main>
    <footer>
        Stronę internetową opracował <i>XXXXXXXXXX</i>
    </footer>
</body>
</html>