@model List<Movie>
@{
    ViewData["Title"] = "Zbór filmów";
}

<h1>Lista filmów</h1>
<a asp-action="InsertMovie" class="btn btn-outline-primary p-2">Dodaj nowy film</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Reżyser</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0;}
        @foreach (var movie in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Price</td>
            </tr>
        }
    </tbody>
</table>