@model List<string>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello from Index</h1>
    <div>
        <a asp-action="People" asp-controller="Home">Lista osób</a>
    </div>
    <h4>Kolory</h4>
    <select>
        @foreach (var color in Model)
        {
            <option value="@color">@color</option>
        }
    </select>
    <div>
        <img src="~/media/C_Sharp_Logo.png" alt="logo">
    </div>
    <script src="~/js/script.js" defer></script>
</body>
</html>
