@model List<Person>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista osób</h1>
    <ul>
        @foreach(var p in Model){
            <li>
                @p.FirstName @p.LastName data urodzenia: @p.DateOfBirth.ToShortDateString()
            </li>
        }
    </ul>
</body>
</html>