@model Movie
@{
    ViewData["Title"] = "edytuj film";
}
<h1>Edycja filmu</h1>
<form asp-action="EditMovie" method="post">
    <div class="row m-2">
        <input asp-for="Id" type="hidden"/>
        <label asp-for="Title" class="col-3"></label>
        <input asp-for="Title" class="col-6" type="text"/>
        <span class="text-danger col-3" asp-validation-for="Title"></span>
    </div>
       <div class="row m-2">
        <label asp-for="Director" class="col-3"></label>
        <input asp-for="Director" class="col-6" type="text"/>
        <span class="text-danger col-3" asp-validation-for="Director"></span>
    </div>
       <div class="row m-2">
        <label asp-for="Price" class="col-3"></label>
        <input asp-for="Price" class="col-6" type="number" step="0.01"/>
        <span class="text-danger col-3" asp-validation-for="Price"></span>
    </div>
       <div class="row m-2">
        <label asp-for="GenreId" class="col-3"></label>
        <select asp-for="GenreId" class="col-6" >
            @foreach(var genre in ViewBag.Genres){
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>       
    </div>
       <div class="row m-2">
        <input type="submit" value="Zapisz zmiany" class="btn btn-primary col-6 offset-3"/>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}