@model MyPerson

@{
    ViewBag.Title = "Nowy kontakt";
}
<h1>Dodaj nowy kontakt</h1>
<form asp-action="AddPerson" method="post">
    <div class="row m-2">
        <label asp-for="FirstName" class="col-3"></label>
        <input type="text" asp-for="FirstName" class="col-6">
        <span asp-validation-for="FirstName" class="col-3 text-danger"></span>
    </div>
       <div class="row m-2">
        <label asp-for="LastName" class="col-3"></label>
        <input type="text" asp-for="LastName" class="col-6">
        <span asp-validation-for="LastName" class="col-3 text-danger"></span>
    </div>
       <div class="row m-2">
        <label asp-for="BirthDate" class="col-3"></label>
        <input type="date" asp-for="BirthDate" class="col-6">
        <span asp-validation-for="BirthDate" class="col-3 text-danger"></span>
    </div>
    <div class="row m-2">
        <input type="submit" value="Dodaj kontakt" class="btn btn-primary col-6 offset-3">
    </div>
</form>