@model List<string>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Lista książek</h1>
        <ul>
            @foreach(var b in Model){
                <li>@b</li>
            }
        </ul>
    </body>
    </html>