.product{
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}
form input,textarea,select{
  margin: 5px;
  width: 250px;
}
form{
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}