@page
@model cw7.Pages.PrimesModel
<h1>
    Generator liczb pierwszych
</h1>
<p>Tutaj będzie formularz do generowania ustalonej liczby
    iloś liczb pierwszych
</p>
<form  method="post">
    <label for="count">Podaj ilość liczb pierwszych do wygenerowania:</label>
    <input type="number" id="count" asp-for="Count">
    <button type="submit">Generuj</button>    
</form>

@if(ViewData["Primes"] != null)
{
    <h2>Wygenerowane liczby pierwsze:</h2>
    
        @* @foreach (var prime in ViewData["Primes"] as List<int>)
        {
            @prime<text> </text>
        } *@
        @Html.Raw(ViewData["Primes"])
    
}